$canvasWidth: 800px
$canvasHeight: 500px

.textLink
  cursor: pointer
  text-decoration: underline

#pageTitle
  margin: 20px
  text-align: center
  width: 100%

#userStatus
  text-align: center
  width: 100%
  display: inline

#loginScreen
  margin: 20px
  text-align: center
  width: 100%

#mainContainer
  margin-top: 20px

  #canvasContainer
    text-align: center

    #canvas
      border: 1px solid black
      display: inline
      margin: 0 auto

    #controlRow
      text-align: center
      width: $canvasWidth
      margin: 0 auto

  #chatContainer
    #chatBox
      height: $canvasHeight
      width: 350px
      margin: 0 auto
      border: 1px solid black
      position: relative
      background-color: #fff

      #chatInput
        width: 100%
        bottom: 0
        border: 1px solid black
        border-top: 2px solid black
        height: 30px

      #chatText
        height: $canvasHeight - 30px
        overflow: scroll
