extends general.pug

block links
  p#whiteboardLink.redirectLink Go to Whiteboard
  
block main
  .container#mainContainer
    .row
      .col-8#chatContainer
        #chatBox
          #chatText
          form#chatForm
            input#chatInput(type="text" autocomplete="off")
            button Send
            
      .col-4#userListContainer
        p Online Users:
        #userList

   
  script(src='scripts/chat.js')
