doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='styles/css/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")

  body
    h1#pageTitle Whiteboard/Chatroom
    #userStatus
    #loginScreen
      h2 Chose a Username
      form#loginForm
        input#nameInput(type="text" autocomplete="off")
        
    .container-fluid#mainContainer
      .row
        .col-8#canvasContainer
          .row#canvasRow
            canvas#canvas
          .row#controlRow
            .col-4
              p Color
              input#colorPicker(type='color')
            .col-4
              p Stroke Width
              input#strokePicker(type='number', min='1', max='20', value='5')
            .col-4
              p Clear
              button#clearButton Clear 
            
        .col-4#chatContainer
          #chatBox
            #chatText
            form#chatForm
              input#chatInput(type="text" autocomplete="off")
     
    
    script(src='scripts/loginPage.js')    
    script(src='scripts/canvas.js')
    script(src='scripts/webSockets.js')
    script(src='scripts/chat.js')
